h1{
      color: rgb(182, 15, 118);
} 
p{
      color: rgb(174, 1, 7);
}
button{
   color: #c24343;
   background-color: #f9f5f5;
}
body{
      background-color:#efef7a;
}
#one{
      font-size: 40px;
      line-height:normal ;
      text-transform: capitalize;
}
#two{
      font-size: 30px;
}
div{
      height: 50px;
      width: 50px;
      background-color: #c24343;
}
@media (width : 600px){
      div{
            background-color: rgb(24, 145, 186);
            
      }
}
@media (min-width : 600px){
      div{
            background-color: blue;
      }
}
@media (min-width : 200px) and (max-width : 300px) {
      div{
            background-color: green;
      }
}
