*{
    background-color: rgb(147, 210, 210);
    color: rgb(20, 13, 13) ;
}

button{
    color: rgb(177, 204, 45);
    background-color: rgb(204, 119, 28);
}
#heading{
    color: rgb(15, 1, 106);
}   
#headingone{
    color: rgb(248, 138, 12);
}   
#headingtwo{
    color: rgb(22, 160, 133);
}
.myclass {
    color: rgb(137, 29, 29);
}  

p{
    text-align: left;
}
h2{
    text-align: center;
    text-decoration:rgb(193, 26, 54) underline;
}

a{
    text-decoration: none;
}

#h2{
    font-weight: normal;
}
#one{
    font-family: arial;

}
#two{
    font-family: verdana;

}
