div {
    height: 200px;
    width: 200px;
    background-color: #905252;
}
@media (max-width: 300px) {
    div {
        background-color: #43c26d;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    div {
        background-color: rgb(197, 16, 46);
    }
}
@media (min-width: 600px) {
    div {
        background-color: #5e43c2;
    }
}