.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid rgb(49, 221, 236);
    border-top: 20px solid red;
    animation: spinanimarion 3s  ease-in 0s infinite;

}

@keyframes spinanimarion{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}